table{
    width: 100%;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

td{
    text-align: center;
}

th{
    color: white;
    background-color: darkblue;
}

caption{
    color:red;
    font-family: "Calibri", serif;
    font-size: 45px;
    line-height: 70px;
}

/* Renglones Pares */
tr:nth-child(even){
    background-color: cornsilk;
}

/* Renglones Impares */
tr:nth-child(odd){
    background-color: beige;
}